:root {
  --color1: green;
  --color2: #fff;;
  --color3: #ddd;
  --color4: pink;
  --color5: #fff;;
  --color6: #d4c2fc;
  --color7: #998FC7;

  --tipografia1: Arial, Helvetica, sans-serif;
  --tipografia2: Verdana;
  --tipografia3: "Fascinate Inline", system-ui;
  --tipografia4: Georgia, 'Times New Roman', Times, serif;
  --tipografia5: "Caveat", cursive;
}

@font-face {
    font-family: 'Day Roman';
    src: url('fonts/DayRoman.woff2') format('woff2'),
        url('fonts/DayRoman.woff') format('woff'),
        url('fonts/DayRoman.svg#DayRoman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--tipografia1);
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: var(--tipografia5);
    font-weight: 400;
    font-style: normal;
    margin:0 auto;
    max-width: 1920px;
    font-family: 'Day Roman';
}
.progres {
    height: 10px;
    background: var(--color5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    scale: 0.2 1;
    animation: analitzador linear;
    animation-timeline: scroll();
    -webkit-animation-timeline: scroll();
        -moz-animation-timeline: scroll();
            animation-timeline: scroll();

}

@keyframes analitzador {
    to{
        scale: 1 1;
    }

}

@media (max-width: 480px) {
  body {
    background-color: var(--color6);
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  body {
    background-color: var(--color7);
  }
  p {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: var(--color5);
  }
  p {
    columns: 2;
  }
}

.rodona{
    width: 10rem;
    height: 10rem;
    background: var(--color1);
    border-radius: 50%;
    margin: auto;
}
