.contenidor {
    width: 800px;
    height: 800px;
    margin: auto;
    border: 10px solid maroon;
    box-shadow: 5px 5px 5px grey;
}

.filera {
    background-color: white;
    width: 800px;
    height: 100px;
}

.casella {
    width: 80px;
    height: 80px;
    background-color: gold;
    padding:10px;
    background-image: linear-gradient(90deg, gold, orange);
    float: left;
}

.fitxa {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #999;
}

.filera:nth-child(2n) .casella:nth-child(2n){
    background-image: linear-gradient(45deg, gold, orange);
}

.filera:nth-child(2n) .casella:nth-child(2n+1) {
    background-image: linear-gradient(45deg, violet, purple);
}

.filera:nth-child(2n+1) .casella:nth-child(2n) {
    background-image: linear-gradient(45deg, violet, purple);
}

.filera:nth-child(2n+1) .casella:nth-child(2n+1) {
    background-image: linear-gradient(45deg, gold, orange);
}




.filera:nth-child(2n) .casella:nth-child(2n) .fitxa {
    background-color: black;
    background-image: linear-gradient(90deg, grey, black);
}

.filera:nth-child(2n) .casella:nth-child(2n+1) .fitxa{
    background-color: white;
    background-image: linear-gradient(90deg, rgb(188, 188, 188), white);
}

.filera:nth-child(2n+1) .casella:nth-child(2n) .fitxa{
    background-color: white;
    background-image: linear-gradient(90deg, rgb(188, 188, 188), white);
}

.filera:nth-child(2n+1) .casella:nth-child(2n+1) .fitxa{
    background-color: black;
    background-image: linear-gradient(90deg, grey, black);
}

.filera:nth-child(n+3):nth-child(-n+6) .fitxa {
    display: none;
}



.fitxa {
    position: relative;
}

.filera:nth-child(1) .fitxa:hover{
    top: 200px;
}

.filera:nth-child(2) .fitxa:hover{
    top: 100px;
}

.filera:nth-child(7) .fitxa:hover{
    top: -100px;
}

.filera:nth-child(8) .fitxa:hover{
    top: -200px;
}
