body {
    background-color: orange;
}
div {
    width: 285px;
    height: 450px;
    background: red;
    margin: 10px;
    float: left;
}

#v1 {
    background-image: url(img/Watch1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v2 {
    background-image: url(img/Watch2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v3 {
    background-image: url(img/Watch3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v4 {
    background-image: url(img/Watch4.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v5 {
    background-image: url(img/Watch5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v6 {
    background-image: url(img/Watch6.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v7 {
    background-image: url(img/Watch7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v8 {
    background-image: url(img/Watch8.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#v9 {
    background-image: url(img/Watch9.png);
    background-repeat: no-repeat;
    background-size: 100%;
}