body {
    background: skyblue;
}

.fulla {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 100% 0%;
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: 0 100px;
    background-image: linear-gradient(0deg, green, greenyellow);
}

.fulla2 {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 100% 0%;
    position: absolute;
    top: 300px;
    left: 150px;
    transform-origin: 0 100px;
    background-image: linear-gradient(0deg, green, greenyellow);
}

.flor {
    width:  300px;
    height: 300px;
    position: relative;
    z-index: 2;
}

.conjunt:hover .flor {
    animation: 0.9s rotacio linear infinite;
}

.f1 {
    transform: rotate(0deg);
}

.f2 {
    transform: rotate(60deg);
}

.f3 {
    transform: rotate(120deg);
}

.f4 {
    transform: rotate(180deg);
}

.f5 {
    transform: rotate(240deg);
}

.f6 {
    transform: rotate(300deg);
}

.cor {
    width: 50px;
    height: 50px;
    top: 125px;
    left: 125px;
    position: absolute;
    border-radius: 50%;
    background: yellow;
    background-image: radial-gradient(yellow, orange);
}

.palo {
    width: 20px;
    height: 300px;
    background: green;
    position: absolute;
    left: 147px;
    top: 150px;
    z-index: 1;

}

@keyframes rotacio {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.conjunt {
    width: 300px;
    height: 700px;
    background: yellow;
}
